*{
    /* border: solid 2px black; */
}

html,body {
/*     background-image: url(https://gweb-earth.storage.googleapis.com/assets/hero@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #b2baba;
    width: 100%;
    height: 100%;
    margin: 5% 5% 5% 5%;
    display: flex;
  
   justify-content: center;
   align-items: center;
}
 
#login_frame {
    width: 100% auto;
    height: 100% ;
    padding: 13px ;
 
    /* position: absolute;
    left: 50%;
    top: 50%;
    margin: 100px 100px 100px 100px; */
 
    background-color: rgba(240, 255, 255, 0.5);
 
    border-radius: 10px;
    text-align: center;

    overflow: auto;
}
 
form p > * {
    display: inline-block;
    vertical-align: middle;
}
 
#image_logo {
    margin-top: 22px;
}
 
.label_input {
    font-size: 14px;
    font-family: 微軟正黑體;
 
    width: 150px;
    height: 31px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: #f7b401;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
 
.text_field {
    width: 350px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
 

#btn_submit {
    font-size: 14px;
    font-family: 微軟正黑體;
 
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: #ff7f00;
    border-radius: 6px;
    border: 0;
 
    justify-content: center;
    align-items: center;
}


#login_control {
    padding: 0 28px;
}
